[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
discord = "*"
requests = "*"
loguru = "*"
pandas = "*"
plotly = "*"
chart-studio = "*"
wikipedia-api = "*"
imdbpy = "*"
emoji = "*"
simplejson = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python_version = "3.8"
